extends ../layout

mixin listing-tr(fieldname, label, listing)
  - if (listing[fieldname])
    tr
      td.listing-detail-td.listing-detail-label= label
      td.listing-detail-td(class="listing-detail-#{fieldname}")= listing[fieldname]

mixin image1(images)
  .listing-detail-image(style="background-image: url('/images/#{listing.images[0]}')")

mixin image2(images)
  .listing-detail-images-column
    .listing-detail-image(style="background-image: url('/images/#{listing.images[0]}')")
  .listing-detail-images-column
    .listing-detail-image(style="background-image: url('/images/#{listing.images[1]}')")

mixin image3(images)
  .listing-detail-image(style="background-image: url('/images/#{listing.images[0]}')")
  .listing-detail-images-column
    .listing-detail-image(style="background-image: url('/images/#{listing.images[1]}')")
    .listing-detail-image(style="background-image: url('/images/#{listing.images[2]}')")

mixin image4(images)
  .listing-detail-images-column
    .listing-detail-image(style="background-image: url('/images/#{listing.images[0]}')")
    .listing-detail-image(style="background-image: url('/images/#{listing.images[1]}')")
  .listing-detail-images-column
    .listing-detail-image(style="background-image: url('/images/#{listing.images[2]}')")
    .listing-detail-image(style="background-image: url('/images/#{listing.images[3]}')")

block content
  .row
    .col-xs-12.col-md-6
      .listing-detail-images-root
        - if (listing.images.length <= 1)
          +image1(listing.images)
        - else if (listing.images.length == 2)
          +image2(listing.images)
        - else if (listing.images.length == 3)
          +image3(listing.images)
        - else if (listing.images.length == 4)
          +image4(listing.images)
        - else
          +image4(listing.images)
    .col-xs-12.col-md-6
      h1.listing-detail-title= listing.title
      table.table.listing-detail-table
        +listing-tr('price', 'Price', listing)
        +listing-tr('size', 'Size', listing)
        +listing-tr('condition', 'Condition', listing)
        +listing-tr('brand', 'Brand', listing)
        +listing-tr('color', 'Color', listing)
      - if (listing.description)
        p= listing.description
      ul.listing-detail-action-list
        li.listing-detail-action
          a.btn.btn-primary(href='#') Message Seller
      form(action="/offers" method="POST" enctype='multipart/form-data')
        input(type="hidden" name="listing_id" value=listing._id)
        .form-group
          label(for='value') Offer
          .input-group
            span.input-group-addon $
            input#offer.form-control(type="text" name='value' placeholder='0.00' value=listing.price)
      if (user && user.id === listing.userId)
        ul.listing-detail-action-list
          li.listing-detail-action
            a.btn.btn-default(href='#{listing._id}/edit') Edit Listing
        pre=JSON.stringify(listing.offers)
